<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/shivkumar</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<mapping class="app.entityClasses.CloudsEntity" />
		<mapping class="app.entityClasses.CoordenateEntity" />
		<mapping class="app.entityClasses.MainEntity" />
		<mapping class="app.entityClasses.WeatherEntity" />
		<mapping class="app.entityClasses.WeatherInfoEntity" />
		<mapping class="app.entityClasses.WeatherSystemEntity" />
		<mapping class="app.entityClasses.WindEntity" />

	</session-factory>
</hibernate-configuration>
